<nav class='navbar navbar-expand-lg bg-body-tertiary'>
  <div class='wrapper'>
    <a class='navbar-brand' href='/'>EVO data</a>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link' href='/reviews'>Reviews</a>
        </li>
      </ul>
    </div>
  </div>
</nav>