<nav class='navbar navbar-expand-sm bg-body-tertiary'>
  <div class='wrapper'>
    <a class='navbar-brand' href='/'>EVO data</a>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link' href='/reviews'>Reviews</a>
        </li>
      </ul>
    </div>
    <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
      <li class='nav-item'>
        <a href='/login' class='nav-link'>Log in</a>
      </li>
      <li class='nav-item'>
        <a href='/logout' class='nav-link'>Log out</a>
      </li>
    </ul>
  </div>

</nav>

{{#if message}}
  <div class='wrapper'>
    <div class='alert alert-{{messageType}}'>
      {{message}}
    </div>
  </div>
{{/if}}