<div class='title'>
  <h1>EVO Data</h1>
</div>

<div class='alert alert-warning' role='alert'>The websites are rebuilt monthly,
  any changes made here will go live after the next scheduled monthly rebuild.</div>

<div class='card'>
  <div class='card-body'>
    <h2 class='card-title'>Reviews</h2>
    <p class='card-text'>{{reviewsTotal}} reviews</p>
    <div class='actions'>
      <a href='/reviews' class='btn btn-light'>View All Reviews</a>
      <a href='/reviews/add' class='btn btn-primary'>Add New Review</a>
    </div>
  </div>
</div>