.nowrap {
  white-space: nowrap;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.navbar {
  margin-bottom: 32px;
}

.navbar .wrapper {
  display: flex;
  align-items: center;
}

.navbar-brand {
  padding-top: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

td {
  vertical-align: middle;
}
