.nowrap {
  white-space: nowrap;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 32px;
}

.form-wrapper {
  max-width: 600px;
  width: 100%;
}

.navbar {
  margin-bottom: 32px;
}

.navbar .wrapper {
  display: flex;
  align-items: center;
}

.navbar-brand {
  padding-top: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}

td {
  vertical-align: middle;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}

form {
  display: grid;
  gap: 32px;
}

.form-required {
  color: red;
  font-size: 12px;
}
